{% load static %}

<div class="footer-container">
    <footer class="footer">
        <section class="social-media d-flex flex-column flex-md-row justify-content-between">
            <div class="me-5 mb-3 mb-md-0">
                <span>Nuestros canales de contacto:</span>
            </div>
            <div class="social-icons d-flex flex-wrap justify-content-center justify-content-md-end">
                <div class="col-12 col-md-auto p-2">
                    <a href="#" class="footer-button w-100">Llámanos</a>
                </div>
                <div class="col-12 col-md-auto p-2">
                    <a href="#" class="footer-button w-100">Te devolvemos la llamada</a>
                </div>
                <div class="col-12 col-md-auto p-2">
                    <a href="#" class="footer-button w-100">Videollamada</a>
                </div>
            </div>
        </section>
    </footer>
</div>
