{% load static %}

<div class="footer-container">
    <footer class="footer">
        
        <section class="social-media social-media d-flex justify-content-betweenk">
        
            <div class="me-5">
                <span>Nuestros canales de contacto:</span>
            </div>
            
            <div class="social-icons">
                <a href="#" class="footer-button">Llamanos</a>
                <a href="#" class="footer-button">Te devolvemos la llamada</a>
                <a href="#" class="footer-button">Videollamada</a>
            </div>
            
        </section>
        
    </footer>
</div>